.path {
  width: 100px;
}
.table {
  width: 100%;
}
p.text-4 {
  font-size: 30px;
}
hr {
  background-color: gray;
  margin-top: 10px;
  margin-bottom: 10px;
}
p {
  margin-top: 0px;
  margin-bottom: 0px;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
.content {
  width: 90%;
  margin-left: 5%;
}
.logowrap {
  margin-top: 20px;
}
.logo {
  height: 90px;
}
.area-2 {
  height: 60px;
  margin-top: 3px;
}
.area-3 {
  height: 100px;
  margin-top: 3px;
}
